{% extends 'default.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h2><span class="fas fa-scroll"></span> {{ title }}</h2>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label class="form-label my-auto" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field.errors }}{{ field }}
            </div>
        {% endfor %}
        <div class="text-end pt-2 pb-5">
            <button class="btn btn-success btn-sm" type="submit">Сохранить <span class="far fa-edit"></span></button>
        </div>
    </form>
{% endblock content %}
